<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/about-styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap" rel="stylesheet">
</head>

<body>

    <div class="nav">
        YOUR NOTES
    </div>

    <div class="sign-up-container">
      <div class="description">
        A node js based web-app which will help you to jot down your notes. You can further mark them completed or delete them. 

      </div>

      <div class="seperator-line"></div>

      <div class="sign-up">
        <form action="/task" method="get" id="sign-up-form">
          <input type="text" name="name" id="name" placeholder="Name" required> 
          <input type="email" name="email" id="mail" placeholder="Enter your mail" required>
          <input type="password" name="password" id="key" placeholder="Password" required>
          <div class="error-container">
            <input type="password" name="re-password" id="re-key" placeholder="Re-enter password" required>
            <div class="error-msg"></div>

          </div>
          
          <button type="button" class="sign-up-button">Sign up</button>
        </form>
      </div>

      <div class="seperator-line"></div>

      <div>
        <form action="/login" method="get">
          <button class="login-button">Login</button>
        </form>
      </div>
    </div>
    
  </body>
  <script src="js/about-js.js"></script>
    
    
    
</html>