*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhaijaan 2', cursive;
    color: black;
}

body{
    margin: 8px;
}


.nav{
    background-color: #2E4C6D;
    text-align: center;
    height:auto;
    font-size: 30px;
    padding-top:.5% ;
    padding-bottom:.5% ;
    border-radius: 0 0 20px 20px;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
  }

  

  .sign-up-container {
    width: 30%;
    margin: auto;
    margin-top: 3%;
    background-color: #F7F7F7;
    padding: 1%;
    min-height: 70px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    color: #2f3236;
    
  }

  .description{
      margin-bottom: 10%;
      font-size: 18px;
  }

  .sign-up input{
      display:block;
      width: 55%;
      margin: auto;
      border-radius: 20px;
      height: 30px;
      text-align: center;
      margin-top: 6%;
      font-size: 17px;
      
  }

  .sign-up-button{
    display:block;
    width: 30%;
    height: 40px;
    margin: 0 auto;
    padding: 1%;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 8%;
    font-size: 17px;
  }

  

  .seperator-line{
    border-width: 1px;
    border-style: solid;
    border-color:#2E4C6D ;
    width: 80%;
    margin: auto;
  }

  .sign-up{
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .login-button{
    display:block;
    width: 30%;
    height: 40px;
    margin: 0 auto;
    padding: 1%;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 8%;
    margin-bottom: 8%;
    font-size: 17px;

  }

  .error-container{
    /* background-color: blue; */
    position: relative;
    padding-bottom: 3%;
  }

  .error-msg{
    /* background-color:red; */
    margin: auto;
    text-align: center;
    margin: 1%;
    color: rgb(241, 62, 62);
    /* background-color: yellow; */
    position:absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, 0);
  }

  @media screen and (max-width: 1200px){
    .sign-up-container{
      width: 60%;
    }
  }

  @media screen and (max-width: 500px){
    .sign-up-container{
      width: 80%;
    }
  }

